text/Incentex.Web/App_WebReferences/SAP_API/ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" tns:force="" http:force="" soap:force="" xsd:force="" name="ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" targetNamespace="urn:ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
				WSDL interface-definition generated by B1iP for the IPO-Step + port 'ipostep:/vP.0010000106.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc#Ip'.
				If your development tool of choice rejects to use this generated WSDL-file, please do remove the various artificial attributes 'xxx:force...' out of
				the root-element 'wsdl:definitions'. These attributes do not comply to the WSDL 1.1 specification, but are an unavoidable generation-artefact!
			</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SalesOrder" type="SalesOrderType">
        <xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
          <xs:documentation>Root element for the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="SalesOrderType">
        <xs:annotation>
          <xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element form="unqualified" name="BO">
            <xs:complexType>
              <xs:sequence>
                <xs:element form="unqualified" name="ContactEmployees">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element form="unqualified" name="row">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element form="qualified" name="CardCode" type="xs:string" />
                            <xs:element form="qualified" name="Name" type="xs:string" />
                            <xs:element form="qualified" name="Position" type="xs:string" />
                            <xs:element form="qualified" name="Address" type="xs:string" />
                            <xs:element form="qualified" name="Phone1" type="xs:string" />
                            <xs:element form="qualified" name="Phone2" type="xs:string" />
                            <xs:element form="qualified" name="MobilePhone" type="xs:string" />
                            <xs:element form="qualified" name="Fax" type="xs:string" />
                            <xs:element form="qualified" name="E_Mail" type="xs:string" />
                            <xs:element form="qualified" name="Pager" type="xs:string" />
                            <xs:element form="qualified" name="Remarks1" type="xs:string" />
                            <xs:element form="qualified" name="Remarks2" type="xs:string" />
                            <xs:element form="qualified" name="Password" type="xs:string" />
                            <xs:element form="qualified" name="PlaceOfBirth" type="xs:string" />
                            <xs:element form="qualified" name="DateOfBirth" type="xs:string" />
                            <xs:element form="qualified" name="Gender" type="xs:string" />
                            <xs:element form="qualified" name="Profession" type="xs:string" />
                            <xs:element form="qualified" name="Title" type="xs:string" />
                            <xs:element form="qualified" name="CityOfBirth" type="xs:string" />
                            <xs:element form="qualified" name="Active" type="xs:string" />
                            <xs:element form="qualified" name="FirstName" type="xs:string" />
                            <xs:element form="qualified" name="MiddleName" type="xs:string" />
                            <xs:element form="qualified" name="LastName" type="xs:string" />
                            <xs:element form="qualified" name="U_BillToCode" type="xs:string" />
                            <xs:element form="qualified" name="U_WL_Contact_ID" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element form="unqualified" name="Documents">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element form="unqualified" name="row">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element form="qualified" name="CardCode" type="xs:string" />
                            <xs:element form="qualified" name="DocStatus" type="xs:string" />
                            <xs:element form="qualified" name="DocDate" type="xs:string" />
                            <xs:element form="qualified" name="DiscSum" type="xs:string" />
                            <xs:element form="qualified" name="DocTotal" type="xs:string" />
                            <xs:element form="qualified" name="NumAtCard" type="xs:string" />
                            <xs:element form="qualified" name="CntctCode" type="xs:string" />
                            <xs:element form="qualified" name="UpdateDate" type="xs:string" />
                            <xs:element form="qualified" name="CreateDate" type="xs:string" />
                            <xs:element form="qualified" name="U_AnnivCred" type="xs:string" />
                            <xs:element form="qualified" name="U_WL_OrderNo" type="xs:string" />
                            <xs:element form="qualified" name="U_IssuancePackage" type="xs:string" />
                            <xs:element form="qualified" name="U_BillToContact" type="xs:string" />
                            <xs:element form="qualified" name="U_PayrollDeduct" type="xs:string" />
                            <xs:element form="qualified" name="U_CredCard" type="xs:string" />
                            <xs:element form="qualified" name="U_EmployeeNo" type="xs:string" />
                            <xs:element form="qualified" name="U_StoreID" type="xs:string" />
                            <xs:element form="qualified" name="U_Station" type="xs:string" />
                            <xs:element form="qualified" name="U_BP_Cost_Ctr" type="xs:string" />
                            <xs:element form="qualified" name="U_U_WL_Tax" type="xs:string" />
                            <xs:element form="qualified" name="U_WL_Contact_ID" type="xs:string" />
                            <xs:element form="qualified" name="U_Payments_PO_No" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element form="unqualified" name="Document_Lines">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:annotation>
                        <xs:documentation>As the element 'Document_Lines' contains multiple child-elements with the same name, it is assumed that it contains a database-table dump with similar rows. Thus, only one of those multiple elements with the biggest sub-element count has been dumped to this schema, assuming to be the superset of such a row, allowing a cardinality from zero til unbounded, making all of the sub-elements optional. Note that it is necessary for this approach being accurate that at least one of those rows has to contain the maximum number of fields; also, disjunct or order-reversed field-lists amongst rows also lead to inaccuracy. Also note that potentially otherl sub-elements with distinct names have been left out of the generated schema, as rows have to look homogeneous!</xs:documentation>
                      </xs:annotation>
                      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="row">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" form="qualified" name="ItemCode" type="xs:string" />
                            <xs:element minOccurs="0" form="qualified" name="Dscription" type="xs:string" />
                            <xs:element minOccurs="0" form="qualified" name="Quantity" type="xs:string" />
                            <xs:element minOccurs="0" form="qualified" name="OpenQty" type="xs:string" />
                            <xs:element minOccurs="0" form="qualified" name="Price" type="xs:string" />
                            <xs:element minOccurs="0" form="qualified" name="DelivrdQty" type="xs:string" />
                            <xs:element minOccurs="0" form="qualified" name="U_WorkgroupID" type="xs:string" />
                            <xs:element minOccurs="0" form="qualified" name="U_BP_GL_Code" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element form="unqualified" name="AddressExtension">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element form="unqualified" name="row">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element form="qualified" name="Address" type="xs:string" />
                            <xs:element form="qualified" name="Address2" type="xs:string" />
                            <xs:element form="qualified" name="CityS" type="xs:string" />
                            <xs:element form="qualified" name="ZipCodeS" type="xs:string" />
                            <xs:element form="qualified" name="StateS" type="xs:string" />
                            <xs:element form="qualified" name="CountryS" type="xs:string" />
                            <xs:element form="qualified" name="CountyS" type="xs:string" />
                            <xs:element form="qualified" name="U_BillToCode" type="xs:string" />
                            <xs:element form="qualified" name="ShipToStreetNo" type="xs:string" />
                            <xs:element form="qualified" name="ShipToBuilding" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element form="unqualified" name="DocumentsAdditionalExpenses">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element form="unqualified" name="row">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element form="qualified" name="ExpenseCode" type="xs:string" />
                            <xs:element form="qualified" name="LineTotal" type="xs:string" />
                            <xs:element form="qualified" name="Remarks" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="OrderConfirm" type="OrderConfirmType">
        <xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
          <xs:documentation>Root element for the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="OrderConfirmType">
        <xs:annotation>
          <xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element form="unqualified" name="SAPOrderID" type="xs:string" />
          <xs:element form="unqualified" name="WordlinkOrderNumber" />
          <xs:element form="unqualified" name="CreatedOn" type="xs:string" />
          <xs:element form="unqualified" name="LogStatus" type="xs:string" />
          <xs:element form="unqualified" name="LogMessage" type="xs:string" />
          <xs:element form="unqualified" name="Customer" type="xs:string" />
          <xs:element form="unqualified" name="BillToCode" type="xs:string" />
          <xs:element form="unqualified" name="ContactName" />
          <xs:element form="unqualified" name="ContactStatus" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SalesOrder">
    <wsdl:part name="body" element="SalesOrder" />
  </wsdl:message>
  <wsdl:message name="OrderConfirm">
    <wsdl:part name="body" element="OrderConfirm" />
  </wsdl:message>
  <wsdl:portType name="ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc">
    <wsdl:operation name="Z.ait.WSSO2B1SO.test">
      <wsdl:input message="tns:SalesOrder" />
      <wsdl:output message="tns:OrderConfirm" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding" type="tns:ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z.ait.WSSO2B1SO.test">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_Service">
    <wsdl:port name="ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding_HTTP" binding="tns:ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding">
      <soap:address location="http://p2450504:8080/B1iXcellerator/exec/soap/vP.0010000106.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc" />
    </wsdl:port>
    <wsdl:port name="ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding_HTTPS" binding="tns:ipostep_vP.0010000106.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding">
      <soap:address location="https://p2450504:8443/B1iXcellerator/exec/soap/vP.0010000106.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>